
@font-face {
  font-family: "Opensans";
  src: url("./fonts/opensans.ttf") format("truetype");
  font-style: normal;
}

:root {
   /* text colors */
  --primary-color: #EB5440;
  --secondary-color: #4A4B4C;
  --tertiary-color: #E8E8E8;
  --tertiar-color-dark: #C3C3C3;
  --background-grey: #F6F6F6;
  --light: #FFFFFF;

  /* text colors */
  --text-primary: #000;
  --text-secondary: #4A4B4C;
  --text-hyperlink: #067BC2;

  /* font family */
  --font-family: "Opensans";

}

@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

*{
  font-family: var(--font-family);
}